*{
	margin:0;
	padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
	color:#444;
	font-size:12px;
	color: #000;
  height:100%
}
.header{
    background-color: #f3f368;
    height: 80px;
    width:100%;
    min-width:1000px;
}
.language{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 13px;
}
.language a{
    color: black;
    text-decoration: none;
}
span.reference{
	font-family:Arial;
	display:block;
	font-size:12px;
	text-align:center;
	margin-bottom:10px;
}
span.reference a{
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
	margin:0px 20px;
}
span.reference a:hover{
	color:#ddd;
}
.first_screen{
    width:100%;
    min-width:1000px;
    background-image: url(../images/iam_back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*menu*/
.menu{
    width:25%;
    min-width:295px;
    font-size:20px;
    position: relative;
    top:50px;
    margin-left:5%;
}
.menu a{
    color:black;
    text-decoration:none;
    margin: 2%;
    padding: 3%;


}
/* Booklet jQuery Plugin Style*/
.r_sticker{
    position: relative;
    float: right;
    margin-right: -100px;
    margin-top: 35px;
    height: 60px;
    cursor:pointer;
}
.r_sticker0{
    float: right;
    margin-top: 24px;
    margin-right: -12px;
    height: 60px;
}
.b_sticker{
    position: relative;
    float: right;
    margin-right: -93px;
    margin-top: 150px;
    height: 50px;
    cursor:pointer;
}
.b_sticker0{
    float: right;
    margin-top: 139px;
    margin-right: -21px;
    height: 50px;
}
.booklet{
    height:100%;
//    border: solid;
	-moz-box-shadow:0px 0px 1px #fff;
	-webkit-box-shadow:0px 0px 1px #fff;
	box-shadow:0px 0px 1px #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.booklet .b-wrap-left  {
    height: 100%;
	  background:#fff url(../images/left_bg.jpg) no-repeat top left;
    background-size: cover;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.booklet .b-wrap-right {
    height:100%;
	  background:#efefef url(../images/right_bg.jpg) no-repeat top left;
    background-size: cover;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.booklet .b-counter {
	bottom:10px;
	position:absolute;
	display:block;
	width:90%;
	height:20px;
	border-top:1px solid #ddd;
	color:#222;
	text-align:center;
	font-size:12px;
	padding:5px 0 0;
	background:transparent;
	-moz-box-shadow:0px -1px 1px #fff;
	-webkit-box-shadow:0px -1px 1px #fff;
	box-shadow:0px -1px 1px #fff;
	opacity:0.8;
}
.book_wrapper{
	margin:0 auto;
	padding-top:30px;
	width:905px;
	height:525px;
	position:relative;
	background:transparent url(../images/bg.png) no-repeat 9px 7px;
  font-family: Bodoni MT;
}
.me{
    opacity:0.7;
    height:200px;
}
.book_wrapper .great h1{
    font-weight:bold;
    font-size:50px;
    text-align:center;
    padding-top: 55px;
    padding-bottom: 20px;
}
.book_wrapper .great p{
    font-weight:bold;
    font-size:50px;
    text-align:center;
}
.book_wrapper .iam h1{
    font-weight:100;
    font-size:50px;
    text-align:left;
    margin-left:10px;
    margin-top: 30px;
    margin-bottom:30px;
//    background:transparent url(../images/h1.png) no-repeat bottom left;
}
.book_wrapper .iam p{
    padding-left: 28px;
    font-size: 29px;
    line-height: 2;
}
.book_wrapper .right{

}
.book_wrapper a.article,
.book_wrapper a.demo{
	background:transparent url(../images/circle.png) no-repeat 50% 0px;
	display:block;
	width:95px;
	height:41px;
	text-decoration:none;
	outline:none;
	font-size:16px;
	color:#555;
	float:left;
	line-height:41px;
	padding-left:47px;
}
.book_wrapper a.demo{
	margin-left:50px;
}
.book_wrapper a.article:hover,
.book_wrapper a.demo:hover{
	background-position:50% -41px;
	color:#13386a;
}

.booklet .b-wrap-right img{
	border:1px solid #E6E3C2;
}
a#next_page_button,
a#prev_page_button{
	display:none;
	position:absolute;
	width:41px;
	height:40px;
	cursor:pointer;
	margin-top:-20px;
	top:50%;
	background:transparent url(../images/buttons.png) no-repeat 0px -40px;
}
a#prev_page_button{
	left:-30px;
}
a#next_page_button{
	right:-30px;
	background-position:-41px -40px;
}
a#next_page_button:hover{
	background-position:-41px 0px;
}
a#prev_page_button:hover{
	background-position:0px 0px;
}
.loading{
	width:160px;
	height:56px;
	position: absolute;
	top:50%;
	margin-top:-28px;
	right:135px;
	line-height:56px;
	color:#fff;
	padding-left:60px;
	font-size:15px;
	background: #000 url(../images/ajax-loader.gif) no-repeat 10px 50%;
	opacity: 0.7;
	z-index:9999;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
/*project display*/
.screen2, .screen3{
    width:100%;
    min-width:1000px;
    height:670px;
    overflow:hidden;
//    background-color:gray;
}
.project_display{
    position:relative;
    width:80%;
    left:10%;
    height:100%;
}
.project_display h1, .screen3 h1{
    text-align: center;
    font-size: 50px;
    padding-top: 25px;
}
.project_display .unit{
    width:25%;
    height:30%;
    float:left;
    margin:4%;
    position:relative;
}
.project_display .unit .rap li{
    display:none;
}
.project_display .unit .rap img{
    width:100%;
    height:100%;
 /*   position:relative;
    left:50px;
    border-radius:50%;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;*/
}
.project_display .unit .rap img:hover{
    cursor: pointer;
    border:solid;
}
/*
.project_display .unit{
    width:200px;
    height:150px;
    float:left;
    margin:20px;
}
.project_display .unit .rap li{
    text-align: center;
    margin:0px;
    font-size:23px;
    list-style: none;
}
.project_display .unit .rap img{
    width:130px;
    height:130px;
    position:relative;
    left:50px;
    border-radius:50%;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
}
.project_display .unit .rap img:hover{
    filter:grayscale(0%);
    border-radius: 30%;
    cursor: pointer;
}*/
